<!DOCTYPE html>
<html>
<head>
  <title>Bookshop</title>
  <link rel="manifest" href="/manifest.json"/>
  <%= javascript_pack_tag 'bookshop' %>
  <%= stylesheet_pack_tag 'bookshop' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<%= yield %>
</body>
</html>
