<!DOCTYPE html>
<html>
<head>
  <title>Bookshop</title>
  <%= javascript_pack_tag 'bookshop/index' %>
  <%= stylesheet_pack_tag 'bookshop/index' %>
  <%= stylesheet_pack_tag 'bookshop/assets/stylesheets/app' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<%= yield %>
</body>
</html>
