<!DOCTYPE html>
<html>
<head>
  <title>Bookshop</title>
  <%= javascript_pack_tag 'bookshop/index' %>
  <%= stylesheet_pack_tag 'bookshop/assets/stylesheets/app' %>
  <%= stylesheet_pack_tag 'bookshop/index' %>
</head>

<body>
<%= yield %>
</body>
</html>
